<div id="speakers">
  <div class="container">
    <div class="title-warpper">
      <div class="title">
        Speakers
      </div>
      <div class="text">
        Hear from the Googlers, Partners, and Guest Speakers who are building the future of cloud. Check back often as
        we add more speakers, including our customers and partners.
      </div>
    </div>
    <div class="divider"></div>
    <div class="filter">
      <div class="tags">
        <div class="tag col" *ngFor='let filter of availableFilters' (click)="setFilters(filter)" [ngClass]="{'active': activeFilters.indexOf(filter) !== -1}">
          {{filter}}
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="speaker-wrapper">
      <div class="row">
        <ng-container *ngFor='let i of speakers'>
          <div class="col s12 m6 l4" *ngIf="filter(i.tag)">
            <div class="speaker waves-effect waves-block modal-trigger" [attr.data-target]="'modal' + i.index">
              <div class="img-wrapper ">
                <img src="{{i.image}}" alt="">
              </div>
              <div class="content">
                <div class="name">
                  {{i.name}}
                </div>
                <div class="about">
                  <div class="work">
                    {{i.work}}
                  </div>
                  <!-- <div class="links">
                    <a href="{{i.git}}" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="{{i.fb}}" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a href="{{i.link}}" target="_blank"><i class="fa fa-link"></i></a>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<div id="modal{{i.index}}" class="modal" *ngFor='let i of speakers'>
  <div class="bg">
  </div>
  <div class="modal-content">
    <div class="title-wrapper row">

      <div class="img-wrapper col">
        <img src="{{i.image}}" alt="">
      </div>
      <div class="name col">
        {{i.name}}
      </div>
    </div>
    <div class="about">
      <div class="work">
        {{i.work}}
      </div>
      <div class="about-text">
        {{i.bio}}
      </div>
      <div class="links">
        <a *ngIf="i.git !== ''" href="{{i.git}}" class="waves-effect" target="_blank"><i class="fab fa-github"></i></a>
        <a *ngIf="i.fb !== ''" href="{{i.fb}}" class="waves-effect" target="_blank"><i class="fab fa-facebook"></i></a>
        <a *ngIf="i.link !== ''" href="{{i.link}}" class="waves-effect" target="_blank"><i class="fa fa-link"></i></a>
      </div>
      <div class="session">
        <div class="title">
          Session
        </div>
        <div class="text work">
          {{i.session}}
        </div>
        <div class="text">
          {{i.sessionDetail}}
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat">close</a>
  </div>
</div>
<app-footer></app-footer>