<div id="team">
  <div class="container">
    <div class="title-warpper">
      <div class="title">
        Team
      </div>
      <div class="text">
        GDG DevFest Ukraine is brought to you with love, efforts and endless fun from GDG Lviv team. <br><br>

        So what is GDG exactly? Perhaps Google doesn't need an introduction. Google services became common nouns —
        every day we "google" things we need to know, check our Gmail on the go, and Google Maps is a lifesaver. For
        regular users, they are just handy services, but not for us. Developers see much more: APIs, scalability
        issues, complex technology stacks. And that is what GDG is about. <br><br>

        Ever wondered what does it take to make a big tech conference? Here it is: 14 people working all year round, 0
        full time workers and sometimes a lot of compromise :) If you're curious what's under the hood, we share a lot
        of tips, confessions and lessons learned on our team blog. <br><br>

        Also we are very talkative, so if you're a fellow community organizer or just have some random questions, feel
        free to reach any of us on social media. We'd love to help! <br><br>
      </div>
    </div>
    <div class="divider"></div>
    <div class="team-wrapper">
      <div class="row">
        <div class="col s12 m6 l4" *ngFor='let i of [1,2,3,4]'>

          <div class="team waves-effect waves-block modal-trigger" data-target="modal">
            <div class="img-wrapper ">
              <img src="https://secure.gravatar.com/avatar/db320b5322d591e515391a7a60375fc4/?s=120&d=identicon" alt="">
            </div>
            <div class="content">
              <div class="name">
                Yatendrasinh Joddha
              </div>
              <div class="about">
                <div class="links">
                  <a href="https://www.facebook.com/yatendrajoddha" target="_blank"><i class="fab fa-github"></i></a>
                  <a href="https://github.com/yatendrajoddha/" target="_blank"><i class="fab fa-facebook"></i></a>
                  <a href="https://yatendrasinh.wordpress.com/" target="_blank"><i class="fa fa-link"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
