<div id="about">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l6">
        <div class="title">
          What you need to know, before you ask.
        </div>
        <div class="text about-devfest">
          GDG DevFest Gandhinagar brings together the renowned experts in Android, Web and Cloud technologies to
          Gandhinagar for sessions, workshops and showcases.
        </div>
        <!-- <div class="waves-effect waves-dark btn btn-arrow ">
          <span>
            explore featured session
          </span>
          <i class="large material-icons">arrow_forward</i>
        </div> -->
        <div class="text about-devfest" style="padding: 10px 0 20px 0">
          Described by many as 'Best Tech Conference' in Gandhinagar, our team creates DevFest to be the best place for experience
          sharing in a phenomenal atmosphere.
        </div>
        <a href="https://photos.app.goo.gl/5rg5K8xsQ9yD9sBE6"  target="_blank"class="waves-effect waves-dark btn btn-arrow ">
          <span>
            See how was it in 2017
          </span>
          <i class="large material-icons">arrow_forward</i>
        </a>
      </div>
      <div class="col s12 m12 l6">
        <div class="row" style="margin-top: 30px">
          <div class="col s6">
            <div class="title stats underline">
              150
            </div>
            <div class="text">
              Attendees
            </div>
          </div>
          <div class="col s6">
            <div class="title stats underline">
              1
            </div>
            <div class="text">
              Day
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 30px">
          <div class="col s6">
            <div class="title stats underline">
              15
            </div>
            <div class="text">
              Sessions
            </div>
          </div>
          <div class="col s6">
            <div class="title stats underline">
              2
            </div>
            <div class="text">
              Tracks
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
