<app-home-block></app-home-block>
<app-about-block></app-about-block>
<app-speaker-block></app-speaker-block>
<div id="subsscribe">
  <div class="container">
    <div class="wrapper center-align">

      <div class="content">
        Get notified about the important conference updates
      </div>
      <div (click)='focusInputForm()' class="waves-effect waves-lite btn btn-arrow lite">
        <span>
          Subscribe
        </span>
        <i class="large material-icons">arrow_forward</i>
      </div>
    </div>
  </div>
</div>
<app-ticket-block></app-ticket-block>
<app-team-block></app-team-block>
<app-map-block></app-map-block>
<app-partners-block></app-partners-block>
<app-footer></app-footer>
