<div id="team">
  <div class="container">
    <div class="row ">
      <div class="col s12 m12 l6">
        <div class="image-wrapper team-pic">
          <img src="assets/images/home.jpg" alt="">
        </div>
      </div>
      <div class="col s12 m12 l6">
        <div class="col S12">
          <div class="content-wrapper">
            <div class="title">
              Organizer
            </div>
            <div class="text">
              GDG Lviv with support of many geeks from all around Gandhinagar is proud organizer of DevFest gandhinagar
            </div>
            <div class="waves-effect waves-dark btn btn-arrow ">
              <span>
                Open Team Page
              </span>
              <i class="large material-icons">arrow_forward</i>
            </div>
          </div>
        </div>
        <div class="col S12">
          <div class="content-wrapper">
            <div class="title">
                What is GDG?
            </div>
            <div class="text">
              Google Developers Group (GDG) - is open and volunteer geek community who create exciting projects and share experience about Google technologies with a passion 
            </div>
            <div class="waves-effect waves-dark btn btn-arrow">
              <span>
                ReadMore
              </span>
              <i class="large material-icons">arrow_forward</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
