<div id="home">
    <div class="warpper">
      <img class='bg-img' src="assets\images\home.jpg" alt="">
      <div class="content">
        <div class="row">
          <div class="col s12 center-align">
            <div class="logo-wrapper">
              <img src="assets/images/logo.svg" alt="">
            </div>
          </div>
          <div class="col s12 center-align">
            <div class="text">
              Gandhinagar. October 28, 2018
            </div>
          </div>
          <div class="col s12 center-align">
            <div class="text">
              Be a hero. Be a GDG!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>