<div id="home">
    <div class="warpper">
      <div class="bg-img"></div>
      <!-- <img class='bg-img' src="assets\images\home.png" alt=""> -->
      <div class="content">
        <div class="row no-marg">
          <div class="col s12 center-align">
            <div class="logo-wrapper">
              <img src="assets/images/home_top.png" alt="">
            </div>
          </div>
          <!-- <div class="col s12 center-align">
            <div class="text">
              {{homePageData.general.city}}. {{date | date : 'MMMM d, yyyy'}}
            </div>
          </div> -->
          <!-- <div class="col s12 center-align">
            <div class="text">
              {{homePageData.general.slogan}}
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>