<div id="ticket">
  <div class="container">
    <div class="title center-align">
      Tickets
    </div>
    <div class="wrapper">
      <div class="row">
        <div class="col s12 center-align ">
          <a href="https://docs.google.com/forms/d/e/1FAIpQLScLTMFX6Y38pW2eUmPsSjXptwcCZV394olywUkGpoNbr1QZbQ/viewform" target="_blank" class="ticket center-align waves-effect waves-dark">
            <div class="type">
              Regular
            </div>
            <div class="price">
                ₹ 0.0
            </div>
            <div class="details">
              This tickets includes lunch, lots of fun and schwags from us.
            </div>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScLTMFX6Y38pW2eUmPsSjXptwcCZV394olywUkGpoNbr1QZbQ/viewform" target="_blank" class="btn-flat waves-effect waves-lite purple white-text">Register</a> 
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
