<div class="partners center-align">
  <div class="title">
      Partners
  </div>
  <div class="template">
      <div class="sub-title">
          Design Inspired From
      </div>
      <div class="content">
          <div class="text">
              Project HoverBoard
          </div>
          <div class="img-wrapper">
              <img src="assets/images/gdgx_logo.png" alt="">
          </div>
      </div>
  </div>
  <div class="general">
      <div class="sub-title">
          General Partner
      </div>
      <div class="logo-wrapper row">
          <div class="content col s12 m6">
              <div class="img-wrapper">
                  <img src="assets/images/googlr_logo.png" alt="">
              </div>
          </div>
          <div class="content col s12 m6">
              <div class="img-wrapper">
                  <img src="assets/images/gdgindia.png" alt="">
              </div>
          </div>
      </div>
  </div>
  <!-- <div class="general">
      <div class="sub-title">
          Venue Partner
      </div>
      <div class="logo-wrapper">
          <div class="content inline-block">
              <div class="img-wrapper">
                  <img src="assets/images/UCIED Logo.png" alt="">
              </div>
          </div>
      </div>
  </div> -->
</div>