.partners
  .title
    font-size: 3em
    padding: 20px
    font-weight: 300
  .sub-title
    font-size: 1.4em
    font-weight: 300
  .content
    vertical-align: middle
    .text
      color: #90a4ae
      padding: 10px 0
    .img-wrapper
      width: 200px
      margin: auto
      padding: 10px
      img
        width: 100%