<div class="partners center-align">
  <div class="title">
    Partners
  </div>
  <div class="template">
    <div class="sub-title">
      Design Inspired From
    </div>
    <div class="content">
      <div class="logo-wrapper">
        <div class="img-wrapper small">
          <img src="assets/images/gdgx_logo.png" alt="">
          <div class="text">
            Project HoverBoard
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="general">
    <div class="sub-title">
      General Partner
    </div>
    <div class="logo-wrapper row">
      <div class="col s12 m4 l4">
        <div class="img-wrapper logo">
          <img src="assets/images/google_logo.png" alt="">
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="img-wrapper logo">
          <img src="assets/images/gdgindia.png" alt="">
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="img-wrapper logo">
          <img src="assets/images/1947.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="general">
    <div class="sub-title">
      venue Partner
    </div>
    <div class="logo-wrapper row">
      <div class="col s12 m4 l4">
        <div class="img-wrapper logo">
          <img src="assets/images/encode.jpg" alt="">
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="img-wrapper logo">
          <img src="assets/images/PDPU.png" alt="">
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="img-wrapper logo">
          <img src="assets/images/SAIL.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="general">
      <div class="sub-title">
          Venue Partner
      </div>
      <div class="logo-wrapper">
          <div class="content inline-block">
              <div class="img-wrapper">
                  <img src="assets/images/UCIED Logo.png" alt="">
              </div>
          </div>
      </div>
  </div> -->
</div>
